<div class="header">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 col-12" id="logo">
          <h4>{{miPortfolio.title}}</h4>
        </div>
        
              
        <div class="col-md-6 col-12" id="nav">      
            <div class="dropdown">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Mi Portfolio</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item smooth-scroll" href="#AcercaDe">Acerca de...</a></li>
                      <li><a  class="dropdown-item" href="#Educacion">Educación</a></li>
                      <li><a class="dropdown-item" href="#Experiencia">Experiencia laboral</a></li>
                      <li><a class="dropdown-item" href="#Proyectos">Proyectos</a></li>
                  </ul>
                </div>
                
            <div class="dropdown">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">CONTACTO</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Mail</a></li>
                      <li><a class="dropdown-item" href="#">Celular</a></li>
                      <li><a class="dropdown-item" href="#">WhatsApp</a></li>
                    </ul>
                  </div>
                  
                  <div>
                    <ul class="nav">
                      <li class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sign In</button>
                        <div class="dropdown-menu">
                          <form class="px-4 py-3">
                            <div class="mb-3">
                              <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                            </div>
                            <div class="mb-3">
                              <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                            </div>
                            <div class="mb-3">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                  Remember me
                                </label>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="login.html">New around here? Sign up</a>
                          <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>


          

