<section id="Educacion">
    <div class="row g-3">
      <div class="col-lg-6 col-12" id="uno">
        <div class="accordion accordion-flush" id="accordion1">
          <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{miPortfolio.educacion[0].titulo}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body">
                      <p>{{miPortfolio.educacion[0].texto}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      {{miPortfolio.educacion[1].titulo}}
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                      <p>{{miPortfolio.educacion[1].texto}}</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      {{miPortfolio.educacion[2].titulo}}
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">
                      <p>{{miPortfolio.educacion[2].texto}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-12" id="dos" >
              <div class="accordion accordion-flush" id="accordion2">
                <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Argentina Programa
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
                          <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dignissimos consequuntur delectus saepe harum perferendis natus itaque voluptate ullam repudiandae illum provident quo, quasi quia ducimus dolorum adipisci pariatur molestiae!
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            #SéProgramar
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                          <div class="accordion-body">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab impedit itaque pariatur aut dolorem dolore, voluptatibus fugit dicta est, quidem beatae ad nam ex porro excepturi repellendus esse. Magnam, corporis.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            #YoProgramo
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                          <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, iste illum cum suscipit ducimus sequi ab ex reiciendis libero fugit culpa distinctio vel voluptas ipsam in error tempora veniam qui.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</section>