<section id="AcercaDe">
    <div class="container-md">

      <div class="row g-3">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
                <h4>{{miPortfolio.acercaDe[0].title}}</h4>
              </div>
              <img class="card-img-top" src="assets\abstract-red-fluid-wave-background-free-vector.jpg" alt="Card image cap">
              <div class="card-body"> 
                <p class="card-text">{{miPortfolio.acercaDe[0].texto}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card w-100" style="width: 18rem;">
              <div class="card-header">
                <h4>{{miPortfolio.acercaDe[1].title}}</h4>
              </div>
              <img class="card-img-top" src="assets\abstract-red-fluid-wave-background-free-vector.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{miPortfolio.acercaDe[1].texto}}</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card w-100"  style="width: 18rem;">
              <div class="card-header">
                <h4>{{miPortfolio.acercaDe[2].title}}</h4>
              </div>
              <img class="card-img-top" src="assets\abstract-red-fluid-wave-background-free-vector.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{miPortfolio.acercaDe[2].texto}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    </section>
